{% extends 'layout.twig.html' %}
{% block content %}
<div class="banner-home">
    <div class="left-container">
        <div class="MainPhoto">
            <img src="img/profile.jpg" width="100%">
        </div>
        <div class="photo2">
            <img src="img/profile.jpg" width="100%">
        </div>
    </div>
    <div class="middle-container">
        <h1>Profile of NAME</h1>
        <div class="infos-container">
            <h4><span class="class">Gender :</span> <span style="color: royalblue;">M</span></h4>
            <br>
            <h4><span class="class">Interested by :</span> <span style="color: fuchsia;">F</span></h4>
            <br>
            <h4><span class="class">Bio :</span></h4>
            <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad est explicabo harum neque nobis? Aperiam atque aut, ea eos labore mollitia non nostrum odit perferendis, quibusdam quo repellendus, sint.</textarea>
            <br>
            <h4><span class="class">Interest :</span> <span class="htag">#</span><span>lorem</span>
                <span class="htag">#</span><span>ipsum</span>
                <span class="htag">#</span><span>blablabla</span></h4>
        </div>
        <img src="img/hearts.png" width="30%" style="position: absolute; right: 0; bottom: 0; right: 80px;">
    </div>
</div>
{% endblock %}