{% extends 'layout.twig.html' %}

{% block content %}
<div class="login">
    <div class="left-m">
        <div class="profile_elem">
            <center><img src="img/profile.jpg" width="40%" class="left-img"></center>
            <div class="btn-intention">
                <div class="like"></div>
                <div class="dislike"></div>
            </div>
        </div>
        <br>
        <div class="profile_elem">
            <center><img src="img/profile.jpg" width="40%" class="left-img2"></center>
            <div class="btn-intention">
                <div class="like"></div>
                <div class="dislike"></div>
            </div>
        </div>
    </div>
    <div class="middle-m">
        <center><img src="img/profile.jpg" width="40%"></center>
    </div>
    <div class="right-m">

    </div>
</div>
{% endblock %}